<div class="movie-info">
    <h2>{{::$ctrl.movie.title}}</h2>
    <h3 ng-if="$ctrl.movie.tagline">{{::$ctrl.movie.tagline}}</h3>
    <p>Runtime: <strong>{{$ctrl.movie.runtime}} minutes</strong></p>
    <img ng-src="{{$ctrl.movie.poster_path}}"
         alt="{{$ctrl.movie.title}}">
    <p>Release date: <strong>{{$ctrl.movie.release_date}}</strong></p>
    <p> Genres:
         <span ng-repeat = "genre in $ctrl.movie.genres">
              <strong>{{genre}}</strong>
         </span>
          
     </p>
    <p>Budget: <strong>{{$ctrl.movie.budget}}</strong></p>
    <p>{{::$ctrl.movie.overview}}</p>
    <a ui-sref="app">Back</a>
  </div>
  