$headerBackground: '../img/header_background_v2.jpg';
$mainColor: #ff5722;
$grayColor: #efefef;
$borderColor: #cfd8dc;
$mainBackground: $grayColor;
$articleBackground: #ffffff;
$articleColor: #75757d;
$mainFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$mainColor2:#0401ac;
$postDiscrColor:lighten($articleColor, 30%);
$headlineColor: $articleColor;
$labelColor: $articleColor;
$aboutColor: $articleColor;