$headerBackground: '../img/header_background_v1.jpg';
$mainColor: #ececec;
$grayColor: #efefef;
$mainBackground: #ffffff;
$borderColor: #607d8b;
$articleBackground: $grayColor;
$articleColor: #2c3536;
$mainFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$mainColor2: #01acac;
$postDiscrColor: red;
$headlineColor: $mainColor2;
$labelColor: $mainColor2;
$aboutColor: $articleColor;

