.movies-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}
.movies {
  padding: 40px 70px;
  display: flex;
  flex-wrap: wrap;

  &__overview {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 40px;
    margin-left: 10px;
    padding: 20px;
    background: #fff;

    &:hover {
      border-radius: 5px;
      background-color: #ffe600;
      color: #000000;
      cursor: pointer;
      transition: .4s ease-out;
      transition-delay: 0.5s
    }
    h2 {
      text-align: center;
      padding-bottom: 10px;
    }
    div {
      display: flex;
    }

    img {
      width: auto;
      height: 150px;
      margin: 0 10px;
    }
  }
}
